@import url('https://fonts.googleapis.com/css?family=Oswald|Sigmar+One');


body {
    background-image: url(../images/zebraflam.jpg);
    background-repeat: repeat;
}

h1 {
    font-family: "Sigmar One", cursive;
    color: white;
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-shadow: 1vmin 1vmin 0 #f89f2d, -1vmin -1vmin 0 #f888a0;
}
.container {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background: #193322;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-family: "Oswald", sans-serif;
    color: white;
    border-radius: 10px;
}

input {
    visibility: hidden;
}

label {
    cursor: pointer;
    color: #f89f2d;
    font-size: 20px;
    
}

label:hover {
    color: #f888a0;
}

#choicesText {
    margin-top: 10px;
}

#questionText {
    font-size: 30px;
}

p {
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
}

form {
    padding-right: 20px;
}

#startButton {
    display: inline-block;
    background: transparent;
    border: 0px;
    font-family: "Sigmar One", cursive;
    color: white;
    font-size: 40px;
}

#startButton:hover {
    text-shadow: 0.5vmin 0.5vmin 0 #f89f2d, -0.5vmin -0.5vmin 0 #f888a0;
}

#timeP {
    display: none;
}